{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="wrapper">
    <div class="flexbox image">
        <div class="bg-0-1">
            <img src="https://unsplash.com/photos/a-view-of-the-ocean-from-a-sandy-beach-DQ7-ouISDNc"
                alt="this a background image to welcome customers" style="width:100%; height:100%; object-fit: cover;">
        </div>
    </div>
    <div class="flexbox login">
        <div class="opt">
            <ul>
                <li><a href="/register">Register</a></li>
                <span>|</span>
                <li><a href="#" class="active">Login</a></li>
            </ul>
            <div class="log_in"></div>
        </div>
        <form action="#" method="GET">
            <input type="text" placeholder="Username/Email" required>
            <input type="password" placeholder="Password" required>
        </form>
        <div class="recover">
            <a href="#">Forgot Password</a>
        </div>
        <input type="submit" class="btn" value="Login">
        <div class="member">
            Don't have an account?
            <a href="/register">Sign Up</a>
        </div>
    </div>
</div>
{% endblock %}