{% extends "layout.html" %}
{% block title %}Signup{% endblock %}
{% block content %}
<div class="wrapper">
    <div class="flexbox login">
        <div class="opt">
            <ul>
                <li><a href="#" class="active">Register</a></li>
                <span>|</span>
                <li><a href="/login">Login</a></li>
            </ul>
            
        </div>
        <form action="#" method="POST">
            <input type="text" placeholder="Fullname" name="fName" required>
            <input type="email" placeholder="Email" name="email" required>
            <input type="password" placeholder="Password" name="pwd" required>
        </form>
        <div class="terms">
            <input type="checkbox" id="checkbox" required>
            <label for="checkbox"> I agree to these
                <a href="Terms.html">Terms & Conditions</a>
            </label>
        </div>
        <input type="submit" class="btn" value="sign up">
        <div class="member">
            Already a member?
            <a href="/login">Login Here</a>
        </div>
    </div>
    <div class="flexbox image">
       <div class="bg-0-1">
           <img src="https://unsplash.com/photos/a-view-of-the-ocean-from-a-sandy-beach-DQ7-ouISDNc"
               alt="this a background image to welcome users"
               style="width:100%; height:100%; object-fit: cover;">
       </div>
    </div>
</div>
{% endblock %}
