{% extends "layout.html" %}
{% block title %}Signup{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/css/log.css">

<div class="container wrapper my-5">
    <div class="row">
        <div class="col-md-6 image bg-0-1">
            <img src="../static/images/elena-leya-2sgq8E-VivQ-unsplash.jpg" alt="this is a background image to welcome customers" class="img-fluid rounded">
        </div>
        <div class="col-md-6 signup">
            <div class="opt mb-4">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="active">Sign Up</a></li>
                   
                    <li class="list-inline-item"><a href="/login">Login</a></li>
                </ul>
            </div>
            <form method="POST">
                <div class="form-group">
                    <input type="text" 
                    class="form-control" 
                    name="username"
                    placeholder="fullname" required>
                </div>
                <div class="form-group">
                    <input type="email" 
                    class="form-control"
                    name="email" 
                    placeholder="Email" required>
                </div>
                <div class="form-group">
                    <input type="password" 
                    class="form-control"
                    name="password"
                    placeholder="Password" required>
                </div>
                <div class="terms text-black mb-3">
                    <input type="checkbox" required>
                    <label for="terms">I agree to the <a href="#">Terms and Conditions</a></label>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                <div class="member text-black mt-3">
                    Already have an account?
                    <a href="/login">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}